{% extends 'base.html' %}
{% block title %}
ადმინ პანელი
{% endblock %}

{% block body %}
<div class="container">
<main class=" container form-signin">
    <form>
        <h3 class="h3 mb-3 fw-normal">გაიარეთ ავტორიზაცია</h3>
        <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">იმეილი</label>
        </div>
        <br>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="პაროლი">
            <label for="floatingPassword">პაროლი</label>
        </div>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> დამახსოვრება
            </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">ავტორიზაცია</button>

    </form>
</main>
</div>

{% endblock %}