{% extends 'base_cv.html' %}
{% block title %}
ჩემი რეზიუმე
{% endblock %}

{% block body %}
<div class="container">
    <main class=" container form-signin">
        <form>
            <h3 class="h3 mb-3 fw-normal"></h3>
            <img src="{{ url_for('static',filename='img/i m.jpg') }} ">
            <p> <b> პირადი ინფორმაცია: </b></p>
            <p>{{anuitet}}</p>
            <p>ზაზა ბარამიძე</p>
            <p>ოზურგეთი,ნატანები</p>
            <p>zazabaramidze92@gmail.com</p>
            <p>599 522 370</p>
            <p>მართვის მოწმობა: B</p>



<!--            <div class="form-floating">-->
<!--                <input type="email" class="form-control"  placeholder="name@example.com">-->
<!--                <label for="floatingInput"></label>-->
<!--            </div>-->


<!--            <div class="form-floating">-->
<!--                <input type="email" class="form-control"  placeholder="name@example.com">-->
<!--                <label for="floatingInput"></label>-->
<!--            </div>-->


<!--            <div class="form-floating">-->
<!--                <input type="email" class="form-control"  placeholder="name@example.com">-->
<!--                <label for="floatingInput">zazabaramidze92@gmail.com</label>-->
<!--            </div>-->

<!--            <div class="form-floating">-->
<!--                <input type="email" class="form-control"  placeholder="name@example.com">-->
<!--                <label for="floatingInput">599 522 370</label>-->
<!--            </div>-->


<!--            <div class="form-floating">-->
<!--                <input type="email" class="form-control"  placeholder="name@example.com">-->
<!--                <label for="floatingInput">მართვის მოწმობა: B</label>-->
<!--            </div>-->

            <p> <b>სამუშაო გამოცდილება: </b></p>

            <p for="floatingPassword"><b>სილქნეტი: IT(ტექნიკური მხარდაჭერის სპეციალისტი) </b> </p>
            <p> აპრ. 2021 - მაი. 2021</p>
              <p> ფუნქციები: სტაჟირება ტექნიკური მხარდაჭერის სპეციალისტი: ქსელების საფუძვლების
                  მათი მუშაობის პრინციპების(ტოპოლოგიები), ქსელური პროტოკოლების(Tcp, ip, http, udp
                  და ა.შ) მუშაობის პრინციპები. Ont, olt, stb კონფიგურაცია.. ქსელის უტილიტები: ipconfig,
                  Tracert, nslookup, ping... </p>




            <p for="floatingPassword"><b>ლაზიკა კაპიტალი: ბიზნეს - დაკრედიტების ექსპერტი(მენეჯერი) </b> </p>
            <p>სექ. 2019 - იან. 2021</p>
            <p> ფუნქციები: ფუნქციები: 1)ბიზნეს და აგრო სესხების განაცხადების მიღება. დამუშავება. გაცემა. 2)
                არსებული საკრედიტო პორთფელის მონიტორინგი. </p>


            <p for="floatingPassword"><b>ლიბერთი ბანკი: Sme-ბიზნეს  დაკრედიტების ექსპერტი </b> </p>
            <p>აგვ. 2014 - სექ. 2019</p>
            <p> ფუნქციები: ფუნქციები: 1)ბიზნეს  სესხების განაცხადების მიღება. დამუშავება. გაცემა. 2)
                არსებული საკრედიტო პორთფელის მონიტორინგი.. </p>



            <p for="floatingPassword"><b>აიტი მანია: IT </b> </p>
            <p>სექ. 2011 - მაი. 2013</p>
            <p> ფუნქციები: კომპიუტერების გამართულ მუშაობა. სადენიანი-უსადენო ქსელების
                კომფიგურაცია და სხვა... </p>


            <p> <b>განათლება - კვალიფიკაცია: </b></p>



            <p for="floatingPassword"><b>შოთა რუსთაველის სახელმწიფო უნივერსიტეტი: სექ. 2010 - ივნ. 2014 </b> </p>
            <p>განათლებისა და მეცნიერებათა ფაკულტეტი - ინტერნეტ ტექნოლოგი(ვებ სპეციალისტი)</p>




            <p><b> კომპიუტერული პროგრამები, დაპროგრამების ენები, ოპერაციული სისტემები: </b> </p>
            <p> Windows, Linux, Microssoft office, Remote Apps, DNS, Photoshop, HTML, CSS, PHP, MYSQL, SQlite, Python, Flask, local servers...   </p>


            <p> <b>უცხო ენები: </b></p>
            <p>ქართული - მშობლიური</p>
            <p>რუსული - ძალიან კარგად</p>
            <p>ინგლისური - დამაკმაყოფილებელად</p>


        </form>
    </main>
</div>

{% endblock %}