{% extends 'base.html' %}

{% block title %}
ყველა სტატია
{% endblock %}

{% block body %}
<div class="container">
    <h3>ყველა სტატია</h3>

 <!-- vamowmebt aris tu ara statiebi bazashi, tu  aris gadavarchevt ciklit da gamovitant -->
 <!--  tu araa statiebi bazashi,  gamogvaqvs shetkobineba 'სტატია ჯერ არ არის საიტზე' -->

{% if articles|length >0 %}
    {% for el in articles %}

    <div class="alert alert-info">
        <h3> {{ el.title }} </h3>
        <P>  {{el.intro}} </P>
        <p><b> {{el.date.date()}} </b></p>
        <a href="/posts/{{el.id}}" class="btn btn-success">ვრცლად</a>       <!-- linkshi vsvat postis ID-s, romelic igzavneba '/posts/id' rout() funqciashi-->
    </div>
    {% endfor %}


    {% else %}
     სტატია ჯერ არ არის საიტზე
    {%endif%}
    </div>

{% endblock %}